table{
    font-size: 15pt;
    background: black;
    color: white;
}

tr{
    text-align: center;
}

.del_o{
    margin-right:40px;
    margin-left:40px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgb(182, 0, 61);
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

.del_o:hover{
    background: gray;
}
